p {
  text−align: center;
}

body {
  background: #CCCCCC
}

.itens {
   font−style: italic
}

.beneficios {
   background: #FFFFFF
}

ul {
   display:inline−block;
   vertical−align: top;
   width; 20%
   margin−rigth: 15%
}

.imagembeneficios {
   widht: 50%;
}
