p {
  text−align: center;
}

body {
  background: #CCCCCC
}

.Titulo pricipal {
   padding−left: 20px;
}

.titulo centralizado {
    text−align: center
}


.itens {
   font−style: italic
}

.beneficios {
   background: #FFFFFF
}

ul {
   display:inline−block;
   vertical−align: top;
   width; 20%
   margin−rigth: 15%
}

.images (4).jpg {
   widht: 50%;
}
